@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.score-screen {
  --size: 16rem;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--size);
  height: var(--size);
  margin: auto;
  background: $bgc-green;
  border: .6rem solid $c-black;
  border-radius: 50%;
  box-shadow: inset 40px 40px 90px rgba(0, 0, 0, .2), inset 10px 10px 30px rgba(0, 0, 0, .5), 20px 20px 30px rgba(0, 0, 0, .4), 40px 40px 60px rgba(0, 0, 0, .4);
  position: absolute;
  z-index: 1;
  display: grid;
  grid-template-rows: repeat(4, 1fr);  
  overflow: hidden;
  transition: background $tt-base;
  user-select: none;

  &--loading {
    background: $ac-orange;
  }

  &--error {
    background: $ac-red;
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    background: transparent;
    border: .3rem solid white;
    position: absolute;
    z-index: 1;
    pointer-events: none;
  }

  &::after {
    content: '';
    width: 105%;
    height: 105%;
    border-radius: 50%;
    display: block;
    background: transparent;
    position: absolute;
    top: -2.5%;
    left: -2.5%;
    box-shadow: -3px -3px 9px rgba(255,255,255,.8);
    pointer-events: none;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 700;
    align-self: end;
  }

  &__number {
    font-size: 1.4rem;
    font-weight: 500;
    align-self: center;

    &:last-child {
      align-self: start;
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
  }

  &__button {
    background-color: $c-black;
    color: $c-white;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
    transition: background-color $tt-base;
    position: relative;
    user-select: none;

    &--single {
      grid-column: span 2;
      padding: 0 0 1rem;
    }
    
    @media (hover: hover) {
      &:hover {
        background-color: $c-dark-blue;
      }
    }
    
    &:active {
      background-color: $c-light-blue;
    }
  }

  @include br-desktop-max {
    --size: 20rem;

    &__title {
      font-size: 2.4rem;
    }

    &__name {
      font-size: 2rem;
    }
  }
}