@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.game-block {
  width: 31.6rem;
  height: 31.6rem;
  border-radius: 8%;
  background-color: $bgc-black-orange;
  position: relative;
  box-shadow: inset 40px 40px 90px rgba(0, 0, 0, .2), inset 10px 10px 30px rgba(0, 0, 0, .5), 20px 20px 30px rgba(0, 0, 0, .4), 40px 40px 60px rgba(0, 0, 0, .4);
  border: .6rem solid #000;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  &--4 {
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }

  &--6 {
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    height: 34rem;
  }

  @include br-desktop-max {
    width: 40rem;
    height: 40rem;
  }
}